html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

.btn-close {
  background-color: var(--inverted-background-color);
  color: var(--inverted-text-color);
}

.logo {
  display: flex;
  gap: 15px;
}

.logo-text {
  font-size: var(--font-32);
}

.navbar-nav {
  background-color: var(--default-background-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: 5px solid green;
}

.navbar {
  display: flex;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
}

.card {
  border: 2px solid green;
}
