:root {
  --white: #fff;
  --font-32: 32px;

  --light-background-color: #fff;
  --light-text-color: #202124;
  --light-url-color: #1a0dab;
  --light-url-visited-color: #609;

  --dark-background-color: rgba(23, 23, 23, 1);
  --dark-text-color: #bdc1c6;
  --dark-url-color: #7fcfff;
  --dark-url-visited-color: #c58af9;

  --inverted-background-color: var(--white); /*var(--dark-background-color); */
  --inverted-text-color: var(--dark-text-color);

  --default-background-color: #fff;
  --default-text-color: #202124;
  --default-url-color: #1a0dab;
  --default-url-visited-color: #609;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

body a {
  color: var(--default-url-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-background-color: var(--dark-background-color);
    --default-text-color: var(--dark-text-color);
    --default-url-color: var(--dark-url-color);
    --default-url-visited-color: var(--dark-url-visited-color);

    --inverted-background-color: var(--light-background-color);
    --inverted-text-color: var(--light-text-color);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vh-centered {
  display: flex;
  align-items: center;
}
